<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="uyd.dao.WsdDataDao">
	
	<!-- 通用查询映射结果 -->
	<resultMap type="uyd.entity.WsdData" id="wsdDataResult">
		<id column="wsd_data_id" property="wsdDataId"/>
		<result column="dev_id" property="devId"/>
		<result column="dev_area" property="devArea"/>
		<result column="wd_value" property="wdValue"/>
		<result column="sd_value" property="sdValue"/>
		<result column="save_datetime" property="saveDatetime"/>
	</resultMap>
	
	<!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
    	wsd_data_id, dev_id, dev_area, wd_value, sd_value, save_datetime
    </sql>
     <!-- SQL Server数据库表名称       <include refid="SQL_Table_Name"/>   -->
    <sql id="SQL_Table_Name">
    	HJKZ_DB.dbo.wsd_data
    </sql>
    <!-- 分页查询温湿度数据 -->
    <select id="loadWsdData" resultMap="wsdDataResult">
    	select top ${pageSize} <include refid="Base_Column_List"></include> from (
    		select row_number() over(order by save_datetime asc) as rownumber,<include refid="Base_Column_List" /> from <include refid="SQL_Table_Name"/>
    		<if test="startDatetime != null and startDatetime != ''">
    			where save_datetime <![CDATA[ >= ]]> #{startDatetime}
    		</if>
    		<if test="endDatetime != null and endDatetime != ''">
    			and save_datetime <![CDATA[ <= ]]> #{endDatetime}
    		</if>
    		) temp_row
				where rownumber > ((#{page} - 1) * #{pageSize});
    </select>
    <!-- 查询温湿度分页数据总数 -->
    <select id="getCount" resultType="java.lang.Integer">
    	select count(*) from <include refid="SQL_Table_Name"></include>
    		<if test="startDatetime != null and startDatetime != ''">
    			where save_datetime <![CDATA[ >= ]]> #{startDatetime}
    		</if>
    		<if test="endDatetime != null and endDatetime != ''">
    			and save_datetime <![CDATA[ <= ]]> #{endDatetime}
    		</if>
    </select>
	<!-- 查询创建折线图-->
    <select id="createWsdLineCharts" resultMap="wsdDataResult">
    	select  <include refid="Base_Column_List"></include> 
    		from <include refid="SQL_Table_Name"/>
    		<if test="startDatetime != null and startDatetime != ''">
    			where save_datetime <![CDATA[ >= ]]> #{startDatetime}
    		</if>
    		<if test="endDatetime != null and endDatetime != ''">
    			and save_datetime <![CDATA[ <= ]]> #{endDatetime}
    		</if>
    		order by save_datetime
    </select>
	
	
</mapper>